table {
  width: 100%;
}

tr.mat-header-row {
  height: 32px;
}

mat-grid-tile * {
  margin-right: 16px;
}

.new-entry {
  background-color: greenyellow;
}

.modified-entry {
  background-color: gold;
}
