table {
  width: 100%;
}

tr.mat-header-row {
  height: 32px;
}

.grid-item {
  margin-right: 1em;
}

.added-entry {
  background-color: greenyellow;
}

.modified-entry {
  background-color: gold;
}

.removed-entry {
  background-color: pink;
}