<mat-toolbar color="primary" class="app-toolbar">
  <span>GCS Mirror Extension Demo</span>
  <span class="spacer"></span>
</mat-toolbar>
<div class="content">
  <div>
    <h1>Firestore Mirror</h1>
    <h3>Path {{path}}</h3>
    <h3>GCS Path {{pathService.getGCSUrl(path)}}</h3>
    <h3>Firestore Path {{pathService.getFirestorePath(path)}}</h3>
    <div class="mat-elevation-z8">
      <app-navigation [path]="path"></app-navigation>
      <app-items-table [path]="path"></app-items-table>
    </div>
  </div>

  <div>
    <h1>
      Upload to Cloud Storage
    </h1>
    <h3>Upload Blob</h3>
    <form class="upload-form">
      <mat-form-field class="blob-input">
        <mat-label>Path to Upload</mat-label>
        <input
          matInput
          [value]="blobPath"
          (input)="blobPath = $event.target.value"
        />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="uploadBlob()">
        Upload
      </button>
      <button mat-raised-button color="primary" (click)="setPath('a')">
        Test
      </button>
    </form>
  </div>
</div>
