<mat-toolbar color="primary" class="app-toolbar">
  <span>GCS Mirror Extension Demo</span>
  <span class="spacer"></span>
</mat-toolbar>
<div class="content">
  <div>
    <h1>Firestore Mirror</h1>
    <h3>gcs://</h3>
    <table mat-table [dataSource]="prefixes" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Prefixes</th>
        <td mat-cell *matCellDef="let element">📁{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="lastEvent">
        <th mat-header-cell *matHeaderCellDef>Last Event</th>
        <td mat-cell *matCellDef="let element">{{ element.lastEvent }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['id', 'lastEvent']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id', 'lastEvent']"></tr>
    </table>
    <table mat-table [dataSource]="items" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef>Size</th>
        <td mat-cell *matCellDef="let element">
          {{ formatBytes(element.gcsMetadata.size) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">
          {{ element.gcsMetadata.contentType }}
        </td>
      </ng-container>

      <ng-container matColumnDef="updated">
        <th mat-header-cell *matHeaderCellDef>Last Modified</th>
        <td mat-cell *matCellDef="let element">
          {{ element.gcsMetadata.updated }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <div>
    <h1>
      Upload to Cloud Storage
    </h1>
    <h3>Upload Blob</h3>
    <form class="upload-form">
      <mat-form-field class="blob-input">
        <mat-label>Path to Upload</mat-label>
        <input
          matInput
          [value]="blobPath"
          (input)="blobPath = $event.target.value"
        />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="uploadBlob()">
        Upload
      </button>
    </form>
  </div>
</div>
