<mat-toolbar color="primary" class="app-toolbar">
  <span>GCS Mirror Extension Demo</span>
  <span class="spacer"></span>
</mat-toolbar>
<div class="content">
  <div>
    <h1>Firestore Mirror</h1>
    <h3>gcs://</h3>
    <ul>
      <li class="text" *ngFor="let item of items | async">
        {{ item.id }}
        <ngx-json-viewer [json]="item" [expanded]="false"></ngx-json-viewer>
      </li>
    </ul>
  </div>

  <div>
    <h1>
      Upload to Cloud Storage
    </h1>
    <h3>Upload Blob</h3>
    <form class="upload-form">
      <mat-form-field class="blob-input">
        <mat-label>Path to Upload</mat-label>
        <input
          matInput
          [value]="blobPath"
          (input)="blobPath = $event.target.value"
        />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="uploadBlob()">
        Upload
      </button>
    </form>
  </div>
</div>
