.spacer {
  flex: 1 1 auto;
}

.content {
  font-size: 1.8em;
  line-height: 1.618;
  max-width: 60%;
  margin: auto;
  padding: 13px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.blob-input {
  width: 50%;
}