<div>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Prefixes</th>
      <td mat-cell *matCellDef="let element" (click)="navigate(element.id)">
        📁{{ childRef === element.hash ? "⭐" : null }}{{ element.id }}
      </td>
    </ng-container>

    <ng-container matColumnDef="lastEvent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Event</th>
      <td mat-cell *matCellDef="let element" (click)="navigate(element.id)">
        {{ element.lastEvent | date: "short" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="navigate(element.id)">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
